@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

p {
    font-size: 1.5rem;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 20%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: opacity 0.3s ease-in-out; /* Smooth transition for show/hide effect */
    opacity: 1; /* Default visible state */
}

header:hover {
    opacity: 1; /* Always visible on hover */
}

body:has(header:hover) header {
    opacity: 1; /* Keep the header visible when hovering */
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 7rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #09C0EE;
    border-bottom: 3px solid #09C0EE;
}

@media(max-width: 995px) {
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40px;
        border-left: 3px solid #09C0EE;
        border-bottom: 3px solid #09C0EE;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: #000000;
        border-top: 0.1rem solid #000000;
    }
    nav.active {
        display: block;
    }
    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #09C0EE;
    }
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 25px #09C0EE;
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: #09C0EE;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    background-color: black;
    border-radius: 1rem;
    font-size: 1rem;
    color: #09C0EE;
    letter-spacing: 0.2rem;
    font-weight: 200;
    border: 2px solid #09C0EE;
    transition: 0.3s ease;
    cursor: pointer;
    margin-right: 2rem;
}

.card-content .btn:hover {
    transform: scale(1.03);
    background-color: #09C0EE;
    color: black;
    box-shadow: 0 0 15px #09C0EE;
}
