@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #000000;
    color: #09C0EE;
}

p {
    font-size: 1.5rem;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 20%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 7rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #09C0EE;
    border-bottom: 3px solid #09C0EE;
}

.validation img{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 3rem auto ;
}

main {
    padding-top: 50px;
    max-width: 900px;
    margin: 0 auto;
}

section {
    margin-bottom: 10px;
    padding: 50px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

p {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

@media (max-width: 995px) {
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #09C0EE;
        border-bottom: 3px solid #09C0EE;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: #000000;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}
